body{
margin:0;
font-family:Arial;
color:white;
}

.home{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#0f172a;
}

.home-box{
background:#1e293b;
padding:40px;
border-radius:10px;
text-align:center;
}

input{
padding:12px;
width:260px;
border-radius:6px;
border:none;
}

button{
padding:12px 20px;
background:#2563eb;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
}

.results{
background:#020617;
padding:40px;
}

.profile{
text-align:center;
margin-bottom:30px;
}

.rank{
display:flex;
justify-content:center;
align-items:center;
gap:10px;
}

.rank-icon{
width:60px;
}

.match{
display:flex;
align-items:center;
justify-content:space-between;
background:#1e293b;
margin-bottom:10px;
padding:10px;
border-radius:8px;
}

.match.win{
border-left:6px solid #22c55e;
}

.match.lose{
border-left:6px solid #ef4444;
}

.champ img{
width:42px;
}

.stats{
width:150px;
}

.kda{
font-weight:bold;
}

.duration{
font-size:12px;
opacity:0.7;
}

.items img{
width:28px;
margin-right:3px;
}

.result{
width:80px;
}

.victory{
color:#22c55e;
}

.defeat{
color:#ef4444;
}

.vs{
font-weight:bold;
animation:pulse 1s infinite;
}

@keyframes pulse{
0%{transform:scale(1)}
50%{transform:scale(1.2)}
100%{transform:scale(1)}
}
