body{
background:#0f172a;
color:white;
font-family:Arial;
margin:40px;
}

.search-box{
text-align:center;
}

input{
padding:10px;
font-size:16px;
}

button{
padding:10px 20px;
}

.match{
background:#1e293b;
padding:20px;
margin-bottom:20px;
border-radius:10px;
}

.win{
border-left:5px solid #22c55e;
}

.lose{
border-left:5px solid #ef4444;
}

.teams{
display:flex;
align-items:center;
justify-content:space-between;
margin-top:10px;
}

.team{
width:45%;
}

.player{
display:flex;
align-items:center;
gap:10px;
margin:5px 0;
}

.champ{
width:32px;
height:32px;
border-radius:6px;
}

.gold{
color:#facc15;
}

.vs{
font-size:20px;
font-weight:bold;
color:#facc15;
}

.analysis{
margin-top:10px;
color:#cbd5f5;
}
