body{
background:#0f172a;
color:white;
font-family:Arial;
margin:0;
}

.hero{

height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(#020617,#0f172a);

}

.hero h1{
font-size:50px;
margin-bottom:10px;
}

.hero p{
color:#94a3b8;
margin-bottom:30px;
}

input{
padding:14px;
width:280px;
border:none;
border-radius:8px;
}

button{
padding:14px 20px;
border:none;
background:#6366f1;
color:white;
border-radius:8px;
cursor:pointer;
}

.profile{
text-align:center;
margin:40px;
}

.rank img{
height:60px;
}

.game{
background:#1e293b;
margin:25px auto;
width:1200px;
padding:20px;
border-radius:12px;
}

.win{
border-left:6px solid #22c55e;
}

.lose{
border-left:6px solid #ef4444;
}

.header{
display:flex;
align-items:center;
gap:20px;
margin-bottom:20px;
}

.champ{
height:60px;
}

.kda{
font-size:22px;
}

.time{
margin-left:auto;
}

.teams{
display:grid;
grid-template-columns:1fr 80px 1fr;
}

.team{
display:flex;
flex-direction:column;
gap:8px;
}

.player{
display:flex;
align-items:center;
background:#111827;
padding:6px;
border-radius:6px;
gap:10px;
}

.champ-small{
height:28px;
}

.gold{
color:#facc15;
font-size:12px;
}

.items img{
height:20px;
}

.vs{
text-align:center;
font-weight:bold;
font-size:22px;
}

.analysis{
margin-top:15px;
background:#0f172a;
padding:10px;
border-radius:8px;
}
