<!DOCTYPE html>
<html>

<head>
<title>{{ name }}</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="profile">

<h1>{{ name }}</h1>

<p>Level {{ level }}</p>

<img
src="https://ddragon.leagueoflegends.com/cdn/14.6.1/img/profileicon/{{ icon }}.png"
width="80">

<h2>Last games</h2>

{% for game in games %}

<div class="game">

<img
src="https://ddragon.leagueoflegends.com/cdn/14.6.1/img/champion/{{ game.champion }}.png"
width="40">

{{ game.kills }}/{{ game.deaths }}/{{ game.assists }}

{% if game.win %}
<span class="win">WIN</span>
{% else %}
<span class="lose">LOSE</span>
{% endif %}

</div>

{% endfor %}

</body>

</html>
