<!DOCTYPE html>
<html>

<head>

<title>{{ name }}</title>
<link rel="stylesheet" href="/static/style.css">

</head>

<body class="profile">

<div class="header">

<img
src="https://ddragon.leagueoflegends.com/cdn/14.6.1/img/profileicon/{{ icon }}.png">

<div>

<h1>{{ name }}</h1>
<p>Level {{ level }}</p>
<p class="rank">{{ rank }}</p>

</div>

</div>

<h2>Recent Games</h2>

{% for game in games %}

<div class="match {% if game.win %}win{% else %}lose{% endif %}">

<img
src="https://ddragon.leagueoflegends.com/cdn/14.6.1/img/champion/{{ game.champion }}.png">

<div class="stats">

<div class="kda">
{{ game.kills }}/{{ game.deaths }}/{{ game.assists }}
</div>

<div class="extra">

CS: {{ game.cs }}  
Damage: {{ game.damage }}  
Gold: {{ game.gold }}

</div>

<div class="duration">

{{ game.duration }} min

</div>

</div>

</div>

{% endfor %}

</body>

</html>
