<!DOCTYPE html>
<html>

<head>
<title>{{ name }}</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="profile"
style="background-image:url('https://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{ bg }}_0.jpg');">

<div class="overlay">

<div class="header">

<img src="https://ddragon.leagueoflegends.com/cdn/14.6.1/img/profileicon/{{ icon }}.png">

<div>

<h1>{{ name }}</h1>
<p>Level {{ level }}</p>

<div class="stats">

<span>KDA {{ kda }}</span>
<span>Winrate {{ winrate }}%</span>
<span>CS {{ cs_avg }}</span>
<span>{{ rank }}</span>

</div>

</div>

</div>

{% for match in matches %}

<div class="match {% if match.win %}win{% else %}lose{% endif %}">

<div class="match-header">

<img src="https://ddragon.leagueoflegends.com/cdn/14.6.1/img/champion/{{ match.champion }}.png">

<div>

<div class="kda">

{{ match.kills }}/{{ match.deaths }}/{{ match.assists }}

</div>

<div>

CS {{ match.cs }}  
Damage {{ match.damage }}  
Gold {{ match.gold }}

</div>

</div>

<div class="items">

{% for item in match.items %}
<img src="https://ddragon.leagueoflegends.com/cdn/14.6.1/img/item/{{ item }}.png">
{% endfor %}

</div>

<div class="duration">

{{ match.duration }} min

</div>

</div>

</div>

{% endfor %}

</div>

</body>

</html>
